@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 60% 96%;
    --foreground: 223 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 223 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 40% 10%;
    --primary: 223 54% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 74% 96%;
    --secondary-foreground: 194 74% 30%;
    --muted: 223 20% 90%;
    --muted-foreground: 223 10% 40%;
    --accent: 194 74% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 20% 85%;
    --input: 223 20% 85%;
    --ring: 223 54% 42%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 223 40% 20%;
    --sidebar-primary: 223 54% 42%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 54% 96%;
    --sidebar-accent-foreground: 223 54% 42%;
    --sidebar-border: 223 20% 90%;
    --sidebar-ring: 223 54% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}